/*#######################Estilos Generales#########################*/
html,body {

}

#wrapper {

}

body {
	color: #333333;
	background-color: #FFFFFF;
	align: center; /* for IE */
	margin: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
}

form input,textarea,select {
	margin: 0.5em;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

h2 {
	font-size: 28px;
}

h1,h2,h3 {
	line-height: 40px;
}

h1,h2,h3,h4,h5,h6 {
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 0;
	text-rendering: optimizelegibility;
}

.negrita {
	font-weight: bold !important;
}

.ui-selectonemenu {
	margin-left: 12px;
}

.menuOptions {
	padding: 0.1em;
	text-align: center;
}

.menuOptions a img {
	padding: 1em;
	margin: 0px auto;
	text-align:center;
}

.ui-state-default .ui-icon-mail {
	background-image: url(#{resource['images/mail.png']});
}

.ui-outputlabel{
	border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #0088CC;
    font-weight: normal;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;	
    text-decoration: none;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
}



/*#######################Fin estilos generales#########################*/

/*#######################Estilos de la pagian de login#########################*/

#container{
}

#containerImg {
	text-align: center;
}


#container h4 {
	font-size: 20px;
}

#container h4 {
	line-height: 40px;
}

#container h4 {
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 0;
	text-align:center;
	text-rendering: optimizelegibility;
}

#containerButton {
	text-align: center;
}

.form-signin {
	background-color: #F5F5F5;
	margin: 0 auto 20px;
	max-width: 360px;
	padding: 19px 29px 29px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #706f70;
	-webkit-box-shadow: 36px 22px 5px 5px rgba(0,0,0,0.58);
	-moz-box-shadow: 36px 22px 5px 5px rgba(0,0,0,0.58);
	box-shadow: 36px 22px 5px 5px rgba(0,0,0,0.58);
}

.form-signin input[type="text"],.form-signin input[type="password"],.form-signin label
{
	font-size: 15px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-signin label {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#container .ui-outputlabel{
	border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: black;
}

.dataPatientLeft {
	width: 25%;
	float: left;
}

.dataPatientLeft img {
	vertical-align: middle;
}

.dataPatientRigth {
	vertical-align: middle;
}

/*#######################Fin estilos de la pagina de login#########################*/

/*#######################Estilos de la cabecera#########################*/

#layoutHeader {
	height: 56px;
}

#layoutHeader a,#layoutHeader a:ACTIVE,#layoutHeader a:HOVER,#layoutHeader a:VISITED
	{
	color: #4F4F4F;
}

.headerLogo {
	background: url(#{resource['images/kodeengine_header.png']}) transparent;
    height: 56px;
	width: 85px;
    float: left;
	margin-left: 2em;
}


.headerInfo {
	float: right;
}

.headerLanguage {
	padding: 0.5em;
	text-align: justify;
}

.headerLanguage img {
	padding: 0.2em;
	text-align: justify;
}

.headerUserInfo {
	font-size: x-small;
	color: #4F4F4F;
	padding-bottom: 1em;
	margin-right: 9em;
}


/*#######################Fin estilos de la cabecera#########################*/


/*#######################Estilos de la ajax status#########################*/

.ajaxStatus {
	width: 64px;
	height: 64px;
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 5000;
}

/*#######################Fin estilos de la ajax status#########################*/

/*#######################Estilos del menu#########################*/

#layoutMenu {
	margin: 0.5em;
}

/*#######################Estilos del menu#########################*/

/*#######################Estilos del centro#########################*/

#layoutCenter {
	margin: 1em;
}

.indexCover {
	text-align: center;
}

.layoutCenterTitle {
	padding: 0.5em 1em 0em 1em;
	font-weight: bold;
	font-size: large;
}

.layoutCenterContent {
	margin-top: 1em;
	height: inherit !important;
	margin: 0.5em;
}

.layoutCenterMessages {
	float: right;
	position: fixed;
	right: 2em;
	z-index: 1000;
	padding-right: 2em;
	padding-top: 3em;
}

.widthAcctions {
	width: 9em;
}

.widthAcctionsSpecial {
	width: 14em;
}

.modalMessageContainer {
	padding-top: 0.5em;
	padding-bottom: 0.75em;
}

/*#######################Fin estilos del centro#########################*/

/*#######################Estilos del pie de pagina#########################*/

#layoutFooter {
	bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#layoutFooter a {
	margin: 1em;
}

#layoutFooter a,#layoutFooter a:ACTIVE,#layoutFooter a:HOVER,#layoutFooter a:VISITED
	{
	color: #4F4F4F;
}

/*#######################Fin estilos del pie de pagina#########################*/

/*#######################BUG BOOTSTARP ERROR INPUT#########################*/

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error
	{
	color: #333333;
}

.ui-layout-unit {
	border: none;
}

/*#######################FIN BUG BOOTSTARP ERROR INPUT#########################*/

/*#######################Estilos para los botones como bootstrap#########################*/

/* Button Succes*/
.ui-priority-success,.ui-widget-content .ui-priority-success,.ui-widget-header .ui-priority-success
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	*background-color: #51a351;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462),
		to(#51a351) );
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',
		endColorstr='#ff51a351', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.ui-priority-success:hover,.ui-priority-success:active,.ui-priority-success.active,.ui-priority-success.disabled,.ui-priority-success[disabled]
	{
	background-color: #51A351;
	color: #FFFFFF;
	*background-color: #499249;
}

.ui-priority-success:active,.ui-priority-success.active {
	background-color: #408140 \9;
}

.ui-priority-success,.ui-widget-content .ui-priority-success,.ui-widget-header .ui-priority-success
	{
	font-weight: bold;
}

/* Button Info*/
.ui-priority-info,.ui-widget-content .ui-priority-info,.ui-widget-header .ui-priority-info
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	*background-color: #2f96b4;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4) );
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',
		endColorstr='#ff2f96b4', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.ui-priority-info:hover,.ui-priority-info:active,.ui-priority-info.active,.ui-priority-info.disabled,.ui-priority-info[disabled]
	{
	color: #ffffff;
	background-color: #2f96b4;
	*background-color: #2a85a0;
}

.ui-priority-info:active,.ui-priority-info.active {
	background-color: #24748c \9;
}

.ui-priority-info,.ui-widget-content .ui-priority-info,.ui-widget-header .ui-priority-info
	{
	font-weight: bold;
}

/* Button Warn */
.ui-priority-warning,.ui-widget-content .ui-priority-warning,.ui-widget-header .ui-priority-warning
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	*background-color: #f89406;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450),
		to(#f89406) );
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',
		endColorstr='#fff89406', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.ui-priority-warning:hover,.ui-priority-warning:active,.ui-priority-warning.active,.ui-priority-warning.disabled,.ui-priority-warning[disabled]
	{
	color: #ffffff;
	background-color: #f89406;
	*background-color: #df8505;
}

.ui-priority-warning:active,.ui-priority-warning.active {
	background-color: #c67605 \9;
}

.ui-priority-warning,.ui-widget-content .ui-priority-warning,.ui-widget-header .ui-priority-warning
	{
	font-weight: bold;
}

/* Button Danger */
.ui-priority-danger,.ui-widget-content .ui-priority-danger,.ui-widget-header .ui-priority-danger
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b),
		to(#bd362f) );
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',
		endColorstr='#ffbd362f', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.ui-priority-danger:hover,.ui-priority-danger:active,.ui-priority-danger.active,.ui-priority-danger.disabled,.ui-priority-danger[disabled]
	{
	color: #ffffff;
	background-color: #bd362f;
	*background-color: #a9302a;
}

.ui-priority-danger:active,.ui-priority-danger.active {
	background-color: #942a25 \9;
}

.ui-priority-danger,.ui-widget-content .ui-priority-danger,.ui-widget-header .ui-priority-danger
	{
	font-weight: bold;
}

/* Button Inverse */
.ui-priority-inverse,.ui-widget-content .ui-priority-inverse,.ui-widget-header .ui-priority-inverse
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	*background-color: #222222;
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444),
		to(#222222) );
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',
		endColorstr='#ff222222', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.ui-priority-inverse:hover,.ui-priority-inverse:active,.ui-priority-inverse.active,.ui-priority-inverse.disabled,.ui-priority-inverse[disabled]
	{
	color: #ffffff;
	background-color: #222222;
	*background-color: #151515;
}

.ui-priority-inverse:active,.ui-priority-inverse.active {
	background-color: #080808 \9;
}

.ui-priority-inverse,.ui-widget-content .ui-priority-inverse,.ui-widget-header .ui-priority-inverse
	{
	font-weight: bold;
}

/*#######################Fin de estilos para los botones como bootstrap#########################*/

/*#######################Estilos tamaño de los botones como bootstrap#########################*/

.ui-button-position{
	margin-left: 5px;
}

.ui-button-large {
	border-radius: 6px 6px 6px 6px;
	font-size: 17.5px;
	padding: 11px 19px;
}

.ui-button-small {
	border-radius: 3px 3px 3px 3px;
	font-size: 11.9px;
	padding: 2px 10px;
}

.ui-button-mini {
	border-radius: 3px 3px 3px 3px;
	font-size: 10.5px;
	padding: 0 6px;
}

.viewerDataDialogClass{
	width: 800px !important;
}

/*#######################Fin estilos tamaño de los botones como bootstrap#########################*/

/*#######################Estilos pagina de error#########################*/

.headerProjectTitle, .loginProjectTitle {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: normal; 
	font-size: 25px;	
}

.headerProjectTitle {
	color: rgb(09,79,164);
	margin-left: 0.5em;
	vertical-align: super
}

.columnGridDeleteLeft { 
	padding-right: 15px;
}

.columnGridDeleteRigth { 
	vertical-align: top;
}

.link, .link:VISITED  { 
	color: #1B6AB8;
}

.link:HOVER { 
	color: #7890ab;
}

/*#######################Fin estilos pagina de error#########################*/

/*#######################Estilos de la pagina de cuenta personal#########################*/

.personalAccount {
	margin: 5em;
}

.leftPersonalAccount {
	width: 500px;
	display: inline-block;
	margin-left: 0;
	vertical-align: top;
}

.rightPersonalAccount {
	display: inline-block;
	margin-left: 10%;
	vertical-align: top;
}

.rightPersonalAccount img{
	border: 0px;
}

.personalAccount {
	margin : 20px;
	padding : 10px;
	border: 1px solid #E5E5E5;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
	display: block;
}

.pa {
	margin : 20px;
	position: relative;
	z-index: 1;
	display: block;
}

.pai {
	margin : 20px;
	padding : 10px;
	border: 1px solid #E5E5E5;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
	display: block;
}


.rightButtonPersonalAccount{
	
	
}

/*#######################Fin de estilos de la pagina de cuenta personal#########################*/

/*#######################Estilos para modal de servicios rest l#########################*/

pre.prettyprint{
    width: 400px;
    overflow: auto;
    height: 300px
}

/*####################### Fin estilos para modal de servicios rest l#########################*/